.category-lower-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-bottom: 50px;

  .category-lower {
    padding: 2px 15px;
    border-radius: 50px;
    border: 1px solid #ededed;
    margin-right: 7px;
    margin-bottom: 7px;
  }

  .category-lower.all,
  .category-lower.selected {
    background-color: #000;
    color: #fff;
  }
}
