@import 'utils/variables.scss';

.listcard {
  list-style: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #e5e7eb;

  .title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    color: #333;
  }
  .date {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 171%;
    color: #999;
  }
  .body {
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
      line-height: 1.625rem;
      margin: 0;
      margin-bottom: 2rem;
    }
    a {
      text-decoration: underline #55adff;
      color: #55adff;
    }
  }
  .tags {
    font-size: 0.875rem;
    line-height: 1.25rem;

    span {
      margin-right: 0.25rem;
    }
  }
}
