@import 'utils/variables.scss';

.list-table {
  margin: 0;
  padding: 0;
  list-style: none;

  li,
  .li-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 140px;
    column-gap: 1rem;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ededed;

    span {
      line-height: 17px;
      font-size: 0.813rem;
      color: #555;
      justify-self: start;
    }
    span:first-child {
      font-weight: 500;
      line-height: 17px;
      font-size: 0.875rem;
      color: #555;
      justify-self: start;
    }
    span:last-child {
      line-height: 15px;
      font-size: 0.75rem;
      color: #555;
      justify-self: end;
    }

    .with-button {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        background: #fff;
        border-radius: 5px;
        border: #666 solid 1px;
        padding: 2px 5px 1px;
        margin-left: 10px;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #333;
        cursor: pointer;
      }
      button:hover {
        background: #333;
        color: #fff;
      }
    }
  }

  .li-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 140px 140px;
    column-gap: 1rem;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ededed;

    span:last-child {
      line-height: 15px;
      font-size: 0.75rem;
      color: #555;
      justify-self: end;
    }
  }
  .li-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ededed;

    span:first-child {
      font-weight: 500;
      line-height: 17px;
      font-size: 0.875rem;
      color: #555;
      justify-self: start;
    }
    span:last-child {
      line-height: 15px;
      font-size: 0.75rem;
      color: #555;
      justify-self: end;
    }
  }
}
