@import 'utils/variables.scss';

.page {
  display: flex;
  flex-direction: column;

  .categories {
    .category {
      font-family: 'Nunito Sans';
      font-size: 1rem;
      color: #bbbbbb;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 20px;

      li {
        list-style: none;
        margin-right: 20px;
        margin-bottom: 5px;

        @media screen and (max-width: $break-l) {
          margin-right: 24px;
        }

        @media screen and (max-width: $break-m) {
        }

        &:hover {
          color: #333333;
          cursor: pointer;
        }
        &.clicked {
          color: #333333;
        }
      }
    }

    .subcategory {
      font-family: 'Nunito Sans';
      font-size: 0.875rem;
      letter-spacing: 0.05em;
      color: #bbbbbb;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 44px;

      li {
        list-style: none;
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 3px 12px 2px;
        margin-right: 12px;
        margin-bottom: 7px;

        &::before {
          content: '#';
          display: inline-block;
          margin-right: 2px;
        }
        &:first-child::before {
          content: none;
        }

        &:hover {
          color: $main-color;
          border-color: $main-color;
          font-weight: 600;
          border-width: 1.5px;
          cursor: pointer;
        }
        &.clicked {
          color: $main-color;
          border-color: $main-color;
          font-weight: 600;
          border-width: 1.5px;
        }
        &.all.clicked {
          background: #333333;
          color: #fff;
          border-color: #333;
        }
      }
    }
  }
  .contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;

    @media screen and (max-width: $break-m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $break-s) {
      grid-template-columns: repeat(1, 1fr);
    }

    .content {
      img {
        background: #c4c4c4;
        border-radius: 5px;
        width: 100%;
        height: 15vw;
        margin-bottom: 15px;

        @media screen and (max-width: $break-m) {
          height: 25vw;
        }

        @media screen and (max-width: $break-s) {
          height: 50vw;
        }
      }
      .title {
        font-family: 'Nunito Sans';
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 27px;
        color: #333333;
      }
      .date {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 171%;
        color: #cccccc;
      }
    }
  }
}
