@import 'utils/variables.scss';

.category {
  font-family: 'Nunito Sans';
  font-size: 1rem;
  color: #bbbbbb;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;

  li {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 5px;

    @media screen and (max-width: $break-l) {
      margin-right: 24px;
    }

    @media screen and (max-width: $break-m) {
    }

    &:hover {
      color: #333333;
      cursor: pointer;
    }
    &.clicked {
      color: #333333;
    }
  }
}
