@import 'utils/variables.scss';

#home {
  color: #333333;

  h2 {
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 34px;
    margin: 0;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 27px;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  section {
    margin-bottom: 5rem;
  }

  .home-introduction {
    & > p {
      font-family: 'Helvetica Neue';
      font-size: 0.875rem;
      letter-spacing: 0.03rem;
      line-height: 20px;
      color: #555;
      margin: 0;
      margin-bottom: 1.25rem;
    }
  }
}
