@import 'utils/variables.scss';

.dev-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 640px;
  margin: 0 auto;

  @media screen and (min-width: $break-m) {
    padding: 24px;
  }

  // NOTE: Title Type: 2
  .title-wrap {
    margin: 50px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .title {
      font-size: 2rem;
      font-weight: bold;
      margin-right: 30px;
    }
    .underline {
      border-bottom: 2px solid #000;
    }
  }

  // NOTE: category-upper Type
  .category {
    margin-right: 20px;
    margin-bottom: 7px;
    cursor: pointer;
  }

  //
  .tag-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-bottom: 50px;

    .tag {
      padding: 2px 15px;
      border-radius: 50px;
      border: 1px solid #ededed;
      margin-right: 7px;
      margin-bottom: 7px;
      cursor: pointer;
    }

    .tag.all,
    .tag.selected {
      background-color: #000;
      color: #fff;
    }
  }

  // NOTE: contents-list
  .contents-list {
    margin-top: -23px;
  }
}
