@import 'utils/variables.scss';

.main-image {
  height: 35vw;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 50px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.dev-post {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 640px;
  margin: 0 auto;

  @media screen and (min-width: $break-m) {
    padding: 24px;
  }

  .post-info {
    margin-bottom: 33px;

    .title {
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 6px;
    }
    .date {
      font-size: 0.8rem;
      color: #bbb;
      letter-spacing: 1.5px;
    }
  }

  .post-contents {
    color: #555;
    margin-bottom: 150px;

    h1 {
      font-size: 1.4rem;
      font-weight: 500;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }
    h3 {
      font-size: 1rem;
      font-weight: 400;
    }
    h4 {
      font-size: 0.8rem;
      font-weight: 400;
    }
    h5 {
      font-size: 0.6rem;
      font-weight: 400;
    }
    p {
      margin: 0;
    }
  }
  .tag-box {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: solid 1px #ededed;
    margin-bottom: 30px;

    .tag {
      font-size: 0.8rem;
      color: #555;
      margin-right: 7px;
    }
    .tag:hover {
      text-decoration: underline;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
