@import 'utils/variables.scss';

.main-image {
  height: 35vw;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 50px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.dev-post {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 640px;
  margin: 0 auto;

  @media screen and (min-width: $break-m) {
    padding: 24px;
  }

  .post-info {
    margin-bottom: 33px;

    .title {
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    .date {
      font-size: 0.8rem;
      color: #bbb;
      letter-spacing: 1.5px;
    }
  }

  .post-contents {
    color: #555;
    margin-bottom: 150px;

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-block-start: 3em;
    }
    h3 {
      font-size: 1.3rem;
      font-weight: 500;
      margin-block-start: 2em;
      margin-block-end: 0.5em;
    }
    h4 {
      font-size: 0.8rem;
      font-weight: 400;
    }
    h5 {
      font-size: 0.6rem;
      font-weight: 400;
    }
    p {
      margin: 0;
    }
    pre {
      background-color: #ececec;
      padding: 20px;
      border-radius: 5px;
    }
    code {
      background-color: #ececec;
      padding: 3px 5px;
      margin-right: 2px;
      border-radius: 5px;
      color: #727934;
    }
    blockquote {
      font-style: italic;
      background-color: #f5f5f5;

      border-radius: 5px;
      padding: 5px 20px;
      margin: 1em 0px;
    }
    strong {
      font-weight: 500;
    }
    a {
      text-decoration: underline;
    }
    a :hover {
      color: #bcc756;
    }
    ul {
      padding-inline-start: 20px;
      li {
        margin-bottom: 5px;
      }
    }

    ol {
      margin-block-start: 5px;
      padding-inline-start: 20px;
    }
  }
  .tag-box {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: solid 1px #ededed;
    margin-bottom: 30px;

    .tag {
      font-size: 0.8rem;
      color: #555;
      margin-right: 7px;
    }
    .tag:hover {
      text-decoration: underline;
      cursor: pointer;
      font-weight: 500;
    }
  }
}
